* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
}

.grid {
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 300px repeat(4, 1fr);
  min-height: 100vh;
  grid-template-areas: "hd hd hd hd hd" "sd main main main main" "ft ft ft ft ft";
}
.grid header {
  grid-area: hd;
  background-color: #363062;
}
.grid menu {
  grid-area: sd;
  background-color: #4D4C7D;
}
.grid main {
  grid-area: main;
  background-color: #F5F5F5;
  display: grid;
  grid-template: repeat(2, 500px)/repeat(3, minmax(270px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}
.grid main .card {
  display: flex;
  flex-direction: column;
  background-color: #F99417;
}
.grid main .card > * {
  display: flex;
  justify-content: center;
}
.grid main .card .card-header {
  padding: 5px;
}
.grid main .card .card-body {
  overflow: hidden;
}
.grid main .card .card-body img:hover {
  transform: scale(1.1);
}
.grid main .card .card-footer {
  padding: 5px;
}
.grid footer {
  grid-area: ft;
  background-color: #363062;
}