@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

//Colores
$color-primary:#618734;
$color-primary-sub: #97a54f;
$color-secondary: #b5d02d;
$color-secondary-sub: #cfd6bb;
$color-dark: #701000;
$color-clear: #F5F5F5;

//Tamaños
$grid-gap: 1rem;

//Generales

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 300ms ease;
}

@mixin gridArea($area, $bg){
  grid-area: $area;
  background-color: $bg;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rupias {
  height: 25px
}

//Especificos
.grid {
  display: grid;
  grid-template-rows: auto auto 80px;
  grid-template-columns: 300px repeat(4, 1fr);
  min-height: 100vh;
  
  grid-template-areas:
  'hd hd hd hd hd'
  'sd main main main main'
  'ft ft ft ft ft';

  header {
    @include gridArea(hd, #FFF);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    .logo-container {
      display: flex;
      align-items: baseline;
      gap: 10px;
      .logo {
        height: 70px;
      }
      h1 { 
        color: $color-dark;
        font-size: 50px
      }
    }
    .bag {
      @include flexCenter();
      position: relative;
      padding: 5px;
      img {
        height: 60px;
        &:hover{
          cursor: pointer;
        }
      }
      .circle {
        @include flexCenter();
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color-dark;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        color: #FFF;
      }
    }
  }

  menu {
    @include gridArea(sd, $color-primary);
    .filtros {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      color: #FFF;
      h3, h4 {
        color: #390a00;
      }
      ul {
        list-style-type: none;
      }
      .precio-max {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      a {
        color: #FFF;
        text-decoration: none;
        background-color: $color-primary-sub;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        &:hover {
          background-color: $color-secondary;
        }
      }
    }
  }

  main {
    @include gridArea(main, $color-secondary-sub);
    display: grid;
    grid-template: repeat(3, 450px) / repeat(4, minmax(250px, 1fr)); 
    /* Nota: En la maqueta que nos entregan hay definidas 3 columnas
    Opté por usar 4 para mejor distribución
    espero que esto no sea de mayor importancia :)  */
    gap: $grid-gap;
    padding: $grid-gap;

    .card {
      display: flex;
      flex-direction: column;;
      color: white;
      background-color: $color-primary-sub;
      &> * { 
        display: flex;
        justify-content: center;
      }
      .card-body {
        @include flexCenter();
        overflow: hidden;
        height: 100%;
        img {
          width: 220px;
          filter: saturate(0.2);
          &:hover{
            transform: scale(1.1);
            filter: saturate(1);
            cursor: pointer;
          }
        }
      }
      .card-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-primary;
        padding: 10px;
        h5 {
          font-size: 1.5rem;
        }
        p {
          margin-bottom: 10px;
          font-weight: 300;
          text-align: center;
        }
        .card-footer {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .precio{
            display: flex;
            align-items: center;
            gap:5px;
            font-size: 1.2rem;
          }
          button {
            background-color: $color-dark;
            border: none;
            color: #FFF;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
              cursor: pointer;
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }

  footer {
    @include gridArea(ft, #FFF);
    @include flexCenter();
    color: $color-dark;
  }
}
  
  
