@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 300ms ease;
}

.grid {
  display: grid;
  grid-template-rows: auto auto 80px;
  grid-template-columns: 300px repeat(4, 1fr);
  min-height: 100vh;
  grid-template-areas: "hd hd hd hd hd" "sd main main main main" "ft ft ft ft ft";
}
.grid header {
  grid-area: hd;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.grid header .logo-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.grid header .logo-container .logo {
  height: 80px;
}
.grid header .logo-container h1 {
  color: #701000;
  font-size: 50px;
}
.grid menu {
  grid-area: sd;
  background-color: #618734;
}
.grid main {
  grid-area: main;
  background-color: #a9b48a;
  display: grid;
  grid-template: repeat(4, 500px)/repeat(3, minmax(270px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}
.grid main .card {
  display: flex;
  flex-direction: column;
  color: white;
}
.grid main .card > * {
  display: flex;
  justify-content: center;
}
.grid main .card .card-header {
  background-color: #701000;
  padding: 5px;
}
.grid main .card .card-body {
  background-color: #97a54f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
.grid main .card .card-body img {
  width: 250px;
  filter: saturate(0);
}
.grid main .card .card-body img:hover {
  transform: scale(1.1);
  filter: saturate(1);
}
.grid main .card .card-footer {
  background-color: #b5d02d;
  padding: 5px;
}
.grid footer {
  grid-area: ft;
  background-color: #701000;
}